
body
{
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
}
.container
{
    max-width: 1024px;
    max-height: 300px;
    margin: 0 auto;
}
.header
{
    background: #2e4a7f;
    color: white;
    margin: 0;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header a
{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}
.menu
{
    height: inherit;
}
.header ul
{
    display: flex;
    height: inherit;
}
.header ul li 
{
    height: inherit;
}
ol,ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.header img
{
    height: 40px;
    padding: 0 1em;
}
.hero
{
    height: 300px;
    margin: 0;
    background: #2e4a7f;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "hero-title hero-image"
}
.hero-image
{

    grid-area: hero-image;
    width: 100%;
    max-height: 280px;
}
.hero-title
{
    font-size: 2.2em;
    line-height: 1.5em;
    letter-spacing: -.5px;
    color: white;
    margin: 0;
    padding: 1em;
    grid-area: hero-title;
}
.hero-title strong
{
    color: #75a9fc;
}
.certificado
{
    background: white;
    height: 300px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "logo-cudec logo-hellinger certificado-text1 certificado-text1"
                        "logo-azul logo-azul certificado-text2 certificado-text2";
}
.certificado-text1
{
    grid-area: certificado-text1;
    padding: 0 0.5em;
    font-size: 1.5em;
    color: #4d4d4d;
}
.certificado-text2
{
    grid-area: certificado-text2;
    padding: 0 0.5em;
    font-size: 1.5em;
    color: #4d4d4d;
}
.logo-hellinger
{
    grid-area: logo-hellinger;
    max-height: 150px;
    align-self: center;
}
.logo-cudec
{
    grid-area: logo-cudec;
    max-height: 150px;
    justify-self: center;
}
.logo-azul
{
    grid-area: logo-azul;
    max-height: 150px;
}
.horarios
{
    height: 300px;
    background: #2e4a7f;
    color: white;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "horarios-title horarios-text1"
    "horarios-title horarios-text2"
    "horarios-title horarios-text3"
    "horarios-title horarios-text4";
}
.horarios-title
{
    grid-area: horarios-title;
    padding: 0;
    margin: 0;
    justify-self: center;
    align-self: center;
    font-size: 6em;
}
.horarios-text1
{
    grid-area: horarios-text1;
}
.horarios-text2
{
    grid-area: horarios-text2;
}
.horarios-text3
{
    grid-area: horarios-text3;
}
.horarios-text4
{
    grid-area: horarios-text4;
}
.horarios h3
{
    padding: 0 .5em;
    margin: 0;
    font-size: 2em;
    justify-self: center;
    align-self: center;
}

.modulos
{
    height: 300px;
    background: #fff;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: "modulos-text1 modulos-image"
                        "modulos-text2 modulos-image";
}
.modulos h3
{
    padding: 0 0.5em;
    color: #4d4d4d;
    align-self: center;
    font-size: 1.5em;
    margin: 0;
}
.modulos-text1
{
    grid-area: modulos-text1;
}
.modulos-text2
{
    grid-area: modulos-text2;
}
.modulos-image
{
    margin: 0;
    max-width: 512px;
    grid-area: modulos-image;
}
.costos
{
    height: 300px;
    background: #2e4a7f;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "costos-title costos-text3"
                        "costos-title costos-text2"
                        "costos-title costos-text1";
}
.costos-title
{
    color: #fff;
    padding: 0;
    margin: 0;
    justify-self: center;
    align-self: center;
    font-size: 6em;
    grid-area: costos-title;
}
.costos h3
{
    color: #fff;
    font-size: 2em;
    margin: 0;
    padding: .2 .5em;
    justify-self: center;
    align-self: center;
}
.costos-text1
{
    grid-area: costos-text1;
}
.costos-text2
{
    
    grid-area: costos-text2;
}
.costos-text3
{
    grid-area: costos-text3;
}
.contacto
{
    background: #2e4a7f;
    color: white;
    height: 330px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "form social"
                        "form social";
}
.social
{
    grid-area: social;
    background-size: 100%;
    padding: 2em;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.social-link
{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0 10px; 
    background-size: 100px 100px;
}
.social-link.twitter
{
    background-image: url('../img/twitter.svg');
    /* background-size: 50px 50px; */
}
.social-link.facebook
{
    background-image: url('../img/facebook.svg');
    /* background-size: 50px 50px; */
}
.social-link.whatsapp
{
    background-image: url('../img/whatsapp.svg');
}
.form 
{
    grid-area: form;
    text-align: center;
    background: #2e4a7f;
    padding: 1.5em;
    border-radius: 10px;
}
.form input 
{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dbdbe2;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px
}
.form p 
{
    font-size: 20px;
    color: #3a3b3f;
    margin-bottom: 1em;
}
.form button 
{
    background: white;
    color: #2e4a7f;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    border-bottom: 5px solid white;
    display: inline-block;
}
.footer
{
    height: 20px;
    color: white;
    background-color: #2e4a7f;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer a 
{
    color: white
}
@media screen and (max-width: 768px)
{
    body
    {
        max-width: 100vw;
    }
    .container
    {
        max-height: 800px;
        max-width: 100vw;
    }
    .header
    {
        display: none;
    }
    .hero
    {
        height: 600px;
        grid-template-columns: 1fr;
        grid-template-areas: "hero-title"
                            "hero-image";
    }
    .hero-title
    {
        font-size: 2em;
        line-height: 1.5em;
        text-align: center;
        letter-spacing: -.5px;
        color: white;
    }
    .certificado
    {
        height: 600px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,120px);
        grid-template-areas: 
        "logo-cudec" 
        "certificado-text2"
        "logo-hellinger" 
        "certificado-text1"
        "logo-azul";
    }
    .certificado h3
    {
        text-align: center;
    }
    .certificado-text1
    {
        font-size: 1.1em;
        padding: 0 .5em;
    }
    .certificado-text2
    {
        font-size: 1.1em;
        padding: 0 .5em;
    }
    .logo-hellinger
    {
        max-width: 70%;
        max-height: 100px;
        justify-self: center;
    }
    .logo-cudec
    {
        max-height: 100px;
    }
    .logo-azul
    {
        grid-area: logo-azul;
        max-height: 90px;
        padding: 10px 0;
    }
    .horarios
    {
        height: 600px;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-areas:
        "horarios-title" 
        "horarios-title" 
        "horarios-title" 
        "horarios-title" 
        "horarios-text1"
        "horarios-text2"
        "horarios-text3"
        "horarios-text4";
    }
    .horarios-title
    {
        font-size: 4.8em;
    }
    .horarios h3
    {
        font-size: 1.5em;
    }
    .modulos
    {
        height: 600px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: 
        "modulos-image"
        "modulos-image"
        "modulos-text1" 
        "modulos-text2";
    }
    .modulos-image
    {
        max-height: 300px;
        max-width: 100%;
    }
    .modulos-text1
    {
        font-size: 1.5em;
        text-align: center;
    }
    .modulos-text2
    {
        font-size: 1.5em;
        text-align: center;
    }
    .costos
    {
        height: 600px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,1fr);
        grid-template-areas:
        "costos-title" 
        "costos-title" 
        "costos-text3" 
        "costos-text1"
        "costos-text2";
    }
    .costos h3
    {
        padding: 0 .5em;
        text-align: center;
    }
    .social-link
{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 10px; 
    background-size: 60px 60px;
}
    .contacto
    {
        height: 400px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "social"
        "social"
        "social"
        "form";
    }
    .footer
    {
        height: 40px;
    }
}